button {
  border: none;
}
a {
  color: black;
}
.collapsible__content {
  animation: slideUp 100ms ease-out;
}
.collapsible__content[data-expanded] {
  animation: slideDown 100ms ease-out;
}
.combobox__control {
  display: inline-flex;
  justify-content: space-between;
  width: 200px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  outline: none;
  background-color: white;
  border: none;
  color: hsl(240 4% 16%);
  transition: border-color 250ms, color 250ms;
}
.combobox__control[data-invalid] {
  border-color: hsl(0 72% 51%);
  color: hsl(0 72% 51%);
}
.combobox__control_multi {
  width: 100%;
  min-width: 200px;
  max-width: 300px;
}
.combobox__input {
  appearance: none;
  display: inline-flex;
  min-width: 0;
  min-height: 40px;
  padding-left: 16px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
}
.combobox__input::placeholder {
  color: hsl(240 4% 46%);
}
.combobox__trigger {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: auto;
  outline: none;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 0 10px;
  background-color: hsl(240 5% 96%);
  border-left: 1px solid hsl(240 6% 90%);
  color: hsl(240 4% 16%);
  font-size: 16px;
  line-height: 0;
  transition: 250ms background-color;
}
.combobox__icon {
  height: 20px;
  width: 20px;
  flex: 0 0 20px;
}
.combobox__description {
  margin-top: 8px;
  color: hsl(240 5% 26%);
  font-size: 12px;
  user-select: none;
}
.combobox__error-message {
  margin-top: 8px;
  color: hsl(0 72% 51%);
  font-size: 12px;
  user-select: none;
}
.combobox__content {
  background-color: white;
  border-radius: 6px;
  border: none;
  box-shadow: none;
  transform-origin: var(--kb-combobox-content-transform-origin);
  animation: contentHide 250ms ease-in forwards;
}
.combobox__content[data-expanded] {
  animation: contentShow 250ms ease-out;
}
.combobox__listbox {
  overflow-y: auto;
  max-height: 360px;
  padding: 8px;
}
.combobox__listbox:focus {
  outline: none;
}
.combobox__item {
  font-size: 16px;
  line-height: 1;
  color: hsl(240 4% 16%);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0 8px;
  position: relative;
  user-select: none;
  outline: none;
}
.combobox__item[data-disabled] {
  color: hsl(240 5% 65%);
  opacity: 0.5;
  pointer-events: none;
}
.combobox__item[data-highlighted] {
  outline: none;
  background-color: black;
  color: white;
}
.combobox__section {
  padding: 8px 0 0 8px;
  font-size: 14px;
  line-height: 32px;
  color: hsl(240 4% 46%);
}
.combobox__item-indicator {
  height: 20px;
  width: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.switch {
    display: inline-flex;
    align-items: center;
  }
.switch__control {
    display: inline-flex;
    align-items: center;
    height: 24px;
    width: 44px;
    border: 1px solid hsl(240 5% 84%);
    border-radius: 12px;
    padding: 0 2px;
    background-color: hsl(240 6% 90%);
    transition: 250ms background-color;
  }
.switch__input:focus-visible + .switch__control {
    outline: 2px solid black;
    outline-offset: 2px;
  }
.switch__control[data-checked] {
    border-color: black;
    background-color: black;
  }
.switch__thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    transition: 250ms transform;
    z-index: 1;
  }
.switch__thumb[data-checked] {
    transform: translateX(calc(100% - 1px));
  }
.switch__label {
    margin-right: 6px;
    color: hsl(240 6% 10%);
    font-size: 14px;
    user-select: none;
  }

  .tooltip__trigger {
    appearance: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: auto;
    outline: none;
    border-radius: 6px;
    padding: 0 16px;
    background-color: hsl(200 98% 39%);
    color: white;
    font-size: 16px;
    line-height: 0;
    transition: 250ms background-color;
    transition-delay: 4s;
  }
  .tooltip__trigger:hover {
    background-color: hsl(201 96% 32%);
  }
  .tooltip__trigger:focus-visible {
    outline: 2px solid hsl(200 98% 39%);
    outline-offset: 2px;
  }
  .tooltip__trigger:active {
    background-color: hsl(201 90% 27%);
  }
  .tooltip__content {
    z-index: 50;
    max-width: min(calc(100vw - 16px), 380px);
    border: 1px solid hsl(240 5% 84%);
    border-radius: 6px;
    padding: 8px;
    background-color: hsl(240 4% 16%);
    color: white;
    font-size: 14px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transform-origin: var(--kb-tooltip-content-transform-origin);
    animation: contentHide 250ms ease-in forwards;
  }
  .tooltip__content[data-expanded] {
    animation: contentShow 250ms ease-out;
  }
  .fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
  }
  .fade-in-slow {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 5s
  }

  .skeleton {
    height: auto;
    width: 100%;
    position: relative;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
  }
  .skeleton[data-animate="true"]::after {
    animation: skeleton-fade 1500ms linear infinite;
  }
  .skeleton[data-visible="true"] {
    overflow: hidden;
  }
  .skeleton[data-visible="true"]::before {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 10;
    background-color: white;
  }
  .skeleton[data-visible="true"]::after {
    position: absolute;
    content: "";
    inset: 0;
    z-index: 11;
    background-color: gray;
  }

  @keyframes skeleton-fade {
    0%,
    100% {
      opacity: 0.4;
    }
    50% {
      opacity: 1;
    }
  }

  @keyframes fadeInOpacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--kb-collapsible-content-height);
    }
  }
  @keyframes slideUp {
    from {
      height: var(--kb-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes contentShow {
    from {
      opacity: 0;
      transform: translateY(-8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes contentHide {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-8px);
    }
  }