
.button {
  appearance: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: auto;
  outline: none;
  border-radius: 6px;
  padding: 0 16px;
  background-color: hsl(200 98% 39%);
  color: white;
  font-size: 16px;
  line-height: 0;
  transition: 250ms background-color;
}
.button:hover {
  background-color: hsl(201 96% 32%);
}
.button:focus-visible {
  outline: 2px solid hsl(200 98% 39%);
  outline-offset: 2px;
}
.button:active {
  background-color: hsl(201 90% 27%);
}

.collapsible {
  width: 300px;
}
.collapsible__trigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px;
  font-weight: 600;
  border: 1px solid hsl(240 5% 84%);
  color: hsl(240 4% 16%);
  text-align: left;
  outline: none;
}
.collapsible__trigger:focus-visible {
  outline: 2px solid hsl(200 98% 39%);
  outline-offset: 2px;
}
.collapsible__trigger-icon {
  width: 20px;
  height: 20px;
  transition: transform 250ms;
}
.collapsible__trigger[data-expanded] .collapsible__trigger-icon {
  transform: rotateZ(180deg);
}
.collapsible__content {
  width: 100%;
  overflow: hidden;
  border: 1px solid hsl(240 5% 84%);
  border-top: none;
  color: hsl(240 4% 16%);
  animation: slideUp 300ms ease-out;
}
.collapsible__content[data-expanded] {
  animation: slideDown 300ms ease-out;
}
.collapsible__content-text {
  padding: 16px;
}

.switch {
    display: inline-flex;
    align-items: center;
  }
.switch__control {
    display: inline-flex;
    align-items: center;
    height: 24px;
    width: 44px;
    border: 1px solid hsl(240 5% 84%);
    border-radius: 12px;
    padding: 0 2px;
    background-color: hsl(240 6% 90%);
    transition: 250ms background-color;
  }
.switch__input:focus-visible + .switch__control {
    outline: 2px solid hsl(200 98% 39%);
    outline-offset: 2px;
  }
.switch__control[data-checked] {
    border-color: hsl(200 98% 39%);
    background-color: hsl(200 98% 39%);
  }
.switch__thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: white;
    transition: 250ms transform;
  }
.switch__thumb[data-checked] {
    transform: translateX(calc(100% - 1px));
  }
.switch__label {
    margin-right: 6px;
    color: hsl(240 6% 10%);
    font-size: 14px;
    user-select: none;
  }

  .tabs {
    width: 100%;
  }
  .tabs[data-orientation="vertical"] {
    display: flex;
  }
  .tabs__list {
    position: relative;
    display: flex;
  }
  .tabs__list[data-orientation="horizontal"] {
    align-items: center;
    border-bottom: 1px solid hsl(240 5% 84%);
  }
  .tabs__list[data-orientation="vertical"] {
    flex-direction: column;
    align-items: stretch;
    border-right: 1px solid hsl(240 5% 84%);
  }
  .tabs__indicator {
    position: absolute;
    background-color: hsl(200 98% 39%);
    transition: all 250ms;
  }
  .tabs__indicator[data-orientation="horizontal"] {
    bottom: -1px;
    height: 2px;
  }
  .tabs__indicator[data-orientation="vertical"] {
    right: -1px;
    width: 2px;
  }
  .tabs__trigger {
    display: inline-block;
    padding: 8px 16px;
    outline: none;
  }
  .tabs__trigger:hover {
    background-color: hsl(0 0% 98%);
    color: hsl(240 5% 34%);
  }
  .tabs__trigger:focus-visible {
    background-color: hsl(240 5% 96%);
  }
  .tabs__trigger[data-disabled],
  .tabs__trigger[data-disabled]:hover {
    opacity: 0.5;
    background-color: transparent;
  }
  .tabs__content {
    padding: 16px;
  }





  @keyframes slideDown {
    from {
      height: 0;
    }
    to {
      height: var(--kb-collapsible-content-height);
    }
  }
  @keyframes slideUp {
    from {
      height: var(--kb-collapsible-content-height);
    }
    to {
      height: 0;
    }
  }